@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+GB+S+Guides:ital@0;1&family=Potta+One&display=swap');
@import "tailwindcss";

@theme {
    --font-pixel: 'Geist Pixel', sans-serif;
    
    --color-dark-bg: #0f1117;
    --color-dark-surface: #1a1d27;
    --color-dark-surface-elevated: #2d3148;
    --color-light-bg: #ebf1f6;
}

/* Enable class-based dark mode in Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        margin: 0;
        padding: 0;
    }
}